// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

$footer-height: 500px;

:root {
  --ff: "Work Sans", sans-serif;
  --transition: 0.2s all ease-in-out;

  --c-primary: #8842f0;
  --c-text-white: #fff;
  --c-border: #eee;

  --c-black: #000;

  --c-paragraph: #262626;
  --—Å-terciary: #f9f1fe;
  --c-text: #575757;
}
