.title {
  color: var(--c-paragraph);
  font-size: 48rem;
  font-weight: 700;
  margin-bottom: 70rem;
  text-align: center;
  margin-top: 111rem;
}
.desc {
  color: var(--c-paragraph);
  text-align: center;
  font-size: 16rem;
  font-weight: 400;
  max-width: 837rem;
  margin-inline: auto;
  margin-bottom: 125rem;
}
